extends ../layout

block content

  h1 #{title}
  
  .container
    .row
      .col-sm-8
        blockquote
          p This shows the list of all the Item Brands
      
      .col-sm-4
        button.btn.btn-success.btn-block(
          data-toggle='modal' data-target='#add') New Brand

      .col-sm-12
        #add.modal.fade(
          tab-index='-1' role='dialog' aria-labelby='AddNewBrand' 
          aria-hidden='true')
          
          .modal-dialog(role='document')
            .modal-content
              - let url = (return_item?return_item.url:'')
              form(action=(url?url:"/brands"), method="post")
                .modal-header
                  h4.modal-title #{return_item?'Update':'Add New'} Brand
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                  .errors
                    if return_item
                      if return_item.errors
                        ul
                          each err in return_item.errors
                            li= err.msg

                  .form-group
                    label(for="name") Brand Name: 
                    input#name.form-control(
                      type="text" placeholder='Name Of Brand' name='name' 
                      required='true' value=(return_item?return_item.name:''))
                  .form-group
                    label(for='description') Description:
                    textarea#description.form-control(
                      name="description", rows='3' placeholder='Enter Brand Description'
                      ) #{return_item?return_item.description:''}
                .modal-footer
                  button.btn.btn-success(type='submit') Save 
                  button.btn.btn-danger(type='button' data-dismiss='modal') Close
  
  .container
    .row
      .col-md-2
      .col-md-8
        if brands.length
          ul.list-group
          each brand in brands
            li.list-group-item
              .row
                .col-sm-9
                  h4 #[strong #{brand.name}]
                  p(style='padding-left:10px') #{brand.description} 
                .col-sm-3
                  span.btn.btn-primary.glyphicon.glyphicon-pencil(
                    data-target='#edit_' + brand._id, data-toggle='modal' role='button')
                  - let hasItems = false
                  each item in items
                    if item.brand.toString() === brand._id.toString()
                      - hasItems = true
                  if !hasItems
                    span.btn.btn-danger.glyphicon.glyphicon-remove(
                      data-target='#delete_' + brand._id data-toggle='modal' role='button')
                  
                  // editing
                  .modal.fade(id='edit_' + brand._id
                    tab-index='-1' role='dialog' aria-labelby='UpdateBrand' 
                    aria-hidden='true')        
                    .modal-dialog(role='document')
                      .modal-content
                        form(action=brand.url, method="post")
                          .modal-header
                            h4.modal-title Edit Brand
                            button.close(type='button' data-dismiss='modal' aria-label='Close')
                              span(aria-hidden='true') &times;
                          .modal-body
                            .form-group
                              label(for="name") Brand Name: 
                              input#name.form-control(
                                type'text' placeholder='Name Of Brand' name='name' 
                                required='true' value=brand.name)
                            .form-group
                              label(for='description') Description:
                              textarea#description.form-control(
                                name="description", rows='3' 
                                placeholder='Enter Brand Description') #{brand.description}
                          .modal-footer
                            button.btn.btn-success(type='submit') Save 
                            button.btn.btn-danger(type='button' data-dismiss='modal') Close

                  // deleting
                  .modal.fade(id='delete_' + brand._id
                    tab-index='-1' role='dialog' aria-labelby='AddNewBrand' 
                    aria-hidden='true')
                    .modal-dialog(role='document')
                      .modal-content
                        form(action=brand.url + '/delete', method="post")
                          .modal-header
                            h4.modal-title Delete Brand: #{brand.name}
                            button.close(type='button' data-dismiss='modal' aria-label='Close')
                              span(aria-hidden='true') &times;
                          .modal-body
                            p #{brand.description}
                            label(for="brand") Are You Sure you want to delete this Brand?
                            input#brandid(
                              type='hidden' name='brandid' value=brand._id requied='true') 
                          .modal-footer
                            button.btn.btn-danger(type='submit') Delete
                            button.btn.btn-seconday(type='button' data-dismiss='modal') Close 

        else
          h4
            i No Brands Found, Please add some Brands!
      .col-md-2
      