extends ../layout

block content
  
  .container
    .row
      .col-sm-8
        blockquote
          p This shows the list of all the Item Categories
      
      .col-sm-4
        button.btn.btn-success.btn-block(
          data-toggle='modal' data-target='#add') New Category

      .col-sm-12
        #add.modal.fade(
          tab-index='-1' role='dialog' aria-labelby='AddNewCategory' 
          aria-hidden='true')
          
          .modal-dialog(role='document')
            .modal-content
              - let url = (returned?returned.url:'')
              form(action=(url?url:"/categories"), method="post")
                .modal-header
                  h4.modal-title #{returned?'Update':'Add New'} Category
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                  .errors
                    if returned
                      if returned.errors
                        ul
                          each err in returned.errors
                            li= err.msg

                  .form-group
                    label(for="name") Category Name: 
                    input#name.form-control(
                      type="text" placeholder='Name Of Category' name='name' 
                      required='true' value=(returned?returned.name:""))
                  .form-group
                    label(for='description') Description:
                    textarea#description.form-control(
                      name="description", rows='3' placeholder='Enter Category Description'
                      ) #{returned?returned.description:''}
                .modal-footer
                  button.btn.btn-success(type='submit') Save 
                  button.btn.btn-danger(type='button' data-dismiss='modal') Close
  
  .container
    .row
      .col-md-2
      .col-md-8
        if categories.length
          ul.list-group
          each cat in categories
            li.list-group-item
              .row
                .col-sm-9
                  h4 #[strong #{cat.name}]
                  p(style='padding-left:10px') #{cat.description} 
                .col-sm-3
                  span.btn.btn-primary.btn-sm(
                    data-target='#edit_' + cat._id, data-toggle='modal' role='button')
                    i.fas.fa-edit
                  - let hasItems = false
                  each item in items
                    if item.category.toString() === cat._id.toString()
                      - hasItems = true
                  if !hasItems
                    span.btn.btn-danger.btn-sm(
                      data-target='#delete_' + cat._id data-toggle='modal' role='button')
                      i.fas.fa-trash
                  
                  // editing
                  .modal.fade(id='edit_' + cat._id
                    tab-index='-1' role='dialog' aria-labelby='UpdateCategory' 
                    aria-hidden='true')        
                    .modal-dialog(role='document')
                      .modal-content
                        form(action=cat.url, method="post")
                          .modal-header
                            h4.modal-title Edit Category
                            button.close(type='button' data-dismiss='modal' aria-label='Close')
                              span(aria-hidden='true') &times;
                          .modal-body
                            .form-group
                              label(for="name") Category Name: 
                              input#name.form-control(
                                type'text' placeholder='Name Of Category' name='name' 
                                required='true' value=cat.name)
                            .form-group
                              label(for='description') Description:
                              textarea#description.form-control(
                                name="description", rows='3' 
                                placeholder='Enter Category Description') #{cat.description}
                          .modal-footer
                            button.btn.btn-success(type='submit') Save 
                            button.btn.btn-danger(type='button' data-dismiss='modal') Close

                  // deleting
                  .modal.fade(id='delete_' + cat._id
                    tab-index='-1' role='dialog' aria-labelby='AddNewCategory' 
                    aria-hidden='true')
                    .modal-dialog(role='document')
                      .modal-content
                        form(action=cat.url + '/delete', method="post")
                          .modal-header
                            h4.modal-title Delete Category: #{cat.name}
                            button.close(type='button' data-dismiss='modal' aria-label='Close')
                              span(aria-hidden='true') &times;
                          .modal-body
                            p #{cat.description}
                            label(for="category") Are You Sure you want to delete this Category?
                            input#categoryid(
                              type='hidden' name='categoryid' value=cat._id requied='true') 
                          .modal-footer
                            button.btn.btn-danger(type='submit') Delete
                            button.btn.btn-seconday(type='button' data-dismiss='modal') Close 

        else
          h4
            i No Categories Found, Please add some Categories!
      .col-md-2
      