extends ../layout

block content
  
  .container
    .row
      .col-sm-8
        blockquote
          p This shows the list of all the Item Roles
      
      .col-sm-4
        button.btn.btn-success.btn-block(
          data-toggle='modal' data-target='#add') New Role

      .col-sm-12
        #add.modal.fade(
          tab-index='-1' role='dialog' aria-labelby='AddNewRole' 
          aria-hidden='true')
          
          .modal-dialog(role='document')
            .modal-content
              - let url = (return_item?return_item.url:'')
              form(action=(url?url:"/roles"), method="post")
                .modal-header
                  h4.modal-title #{return_item?'Update':'Add New'} Role
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                  .errors
                    if return_item
                      if return_item.errors
                        ul
                          each err in return_item.errors
                            li= err.msg

                  .form-group
                    label(for="name") Role Name: 
                    input#name.form-control(
                      type="text" placeholder='Name Of Role' name='name' 
                      required='true' value=(return_item?return_item.name:''))
                  .form-group
                    label(for='description') Description:
                    textarea#description.form-control(
                      name="description", rows='3' 
                      placeholder='Enter Role Description') #{return_item?return_item.description:''}
                .modal-footer
                  button.btn.btn-success(type='submit') Save 
                  button.btn.btn-danger(type='button' data-dismiss='modal') Close
  
  .container
    .row
      .col-md-2
      .col-md-8
        if roles.length
          ul.list-group
          each role in roles
            li.list-group-item
              .row
                .col-sm-9
                  h4 #[strong #{role.name}]
                  p(style='padding-left:10px') #{role.description} 
                .col-sm-3    
                  span.btn.btn-primary.glyphicon.glyphicon-pencil(
                    data-target='#edit_' + role._id, data-toggle='modal' role='button')
                  - let hasWorker = false
                  each worker in workers
                    if worker.role
                      if worker.role.toString() === role._id.toString()
                        - hasWorker = true
                  if !hasWorker
                    span.btn.btn-danger.glyphicon.glyphicon-remove(
                      data-target='#delete_' + role._id data-toggle='modal' role='button')
                    
                  // editing
                  .modal.fade(id='edit_' + role._id
                    tab-index='-1' role='dialog' aria-labelby='UpdateRole' 
                    aria-hidden='true')        
                    .modal-dialog(role='document')
                      .modal-content
                        form(action=role.url, method="post")
                          .modal-header
                            h4.modal-title Edit Role
                            button.close(type='button' data-dismiss='modal' aria-label='Close')
                              span(aria-hidden='true') &times;
                          .modal-body
                            .form-group
                              label(for="name") Role Name: 
                              input#name.form-control(
                                type'text' placeholder='Name Of Role' name='name' 
                                required='true' value=role.name)
                            .form-group
                              label(for='description') Description:
                              textarea#description.form-control(
                                name="description", rows='3' 
                                placeholder='Enter Role Description') #{role.description}
                          .modal-footer
                            button.btn.btn-success(type='submit') Save 
                            button.btn.btn-danger(type='button' data-dismiss='modal') Close

                  // deleting
                  .modal.fade(id='delete_' + role._id
                    tab-index='-1' role='dialog' aria-labelby='AddNewCategory' 
                    aria-hidden='true')
                    .modal-dialog(role='document')
                      .modal-content
                        form(action=role.url + '/delete', method="post")
                          .modal-header
                            h4.modal-title Delete Role: #{role.name}
                            button.close(type='button' data-dismiss='modal' aria-label='Close')
                              span(aria-hidden='true') &times;
                          .modal-body
                            p #{role.description}
                            label(for="role") Are You Sure you want to delete this Role?
                            input#roleid(
                              type='hidden' name='roleid' value=role._id requied='true') 
                          .modal-footer
                            button.btn.btn-danger(type='submit') Delete
                            button.btn.btn-seconday(type='button' data-dismiss='modal') Close 

        else
          h4
            i No Roles Found, Please add some Roles!
      .col-md-2
      