doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    link(rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css")
    
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap")
    //link(href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.15.0/css/mdb.min.css" rel="stylesheet")

    
    script(defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
      integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
      crossorigin="anonymous")
    script(defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" 
      integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" 
      crossorigin="anonymous")

    link(rel='stylesheet', href='/css/style.css')
    
  body
    block navigation
      nav.navbar.navbar-light.bg-success.navbar-expand-lg.fixed-top.shadow
        .container
          a.navbar-brand(href="/")
            img.brand(src='/img/logo.png' width='25rem' alt='Logo')
          button.navbar-toggler.navbar-toggler-right(type="button" 
            data-toggle="collapse" data-target="#navbarTogglerDemo02" 
            aria-controls="navbarTogglerDemo02" aria-expanded="false" 
            aria-label="Toggle navigation")
            span.navbar-toggler-icon
          
          #navbarTogglerDemo02.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
              li.nav-item(class=(nav===1?'active':''))
                a.nav-link(href="/") Home 
                  i.fas.fa-home
              li.nav-item(class=(nav===2?'active':''))
                a.nav-link(href="/flows") Stock Flow 
                  i.fas.fa-tasks
              li.nav-item(class=(nav===3?'active':''))
                a.nav-link(href="/stock") Stock Items 
                  i.fas.fa-list
              li.nav-item(class=(nav===4?'active':''))
                a.nav-link(href='/help') Help 
                  i.fas.fa-question

            ul.navbar-nav.navbar-right
              if user.admin
                li.nav-item.dropdown(class=(nav===5?'active':''))
                  a.nav-link.dropdown-toggle(
                    href='#' data-toggle='dropdown' role='button' 
                    aria-haspopup='true' aria-expanded='false' id="operations") Operations 
                    i.fas.fa-cog
                  .dropdown-menu(aria-labeledby='operations')
                    .dropdown-header Internal
                    a.dropdown-item(href='/branches' class=(nav===5&&navS===1?'active':'')) 
                      i.fas.fa-leaf 
                      i  Branches
                    a.dropdown-item(href="/workers" class=(nav===5&&navS===2?'active':'')) 
                      i.fas.fa-user 
                      i  Employees
                    .dropdown-divider
                    
                    .dropdown-header External
                    a.dropdown-item(href='/suppliers' class=(nav===5&&navS===3?'active':'')) 
                      i.fas.fa-share 
                      i  Supplier
                
                li.nav-item.dropdown(class=(nav===6?'active':''))
                  a.nav-link.dropdown-toggle(
                    href="#" id='settings' data-toggle="dropdown" role="button" 
                    aria-haspopup="true" aria-expanded="false") Settings 
                    i.fas.fa-wrench
                  .dropdown-menu(aria-labeledby='settings')
                    .dropdown-header Stock Related
                    a.dropdown-item(href="/categories" class=(nav===6&&navS===1?'active':'')) 
                      i.fas.fa-folder-open
                      i  Categories
                    a.dropdown-item(href="/brands" class=(nav===6&&navS===2?'active':'')) 
                      i.fas.fa-qrcode 
                      i  Brands

              li.nav-item
                a.nav-link(href="/logout") #{user.username} 
                  i.fas.fa-sign-out-alt
          
    .container
      
      .content
        .row
          .col-sm-2
          .col-sm-8.shadow
            if returned || success || error
              if returned
                .alert.alert-warning.alert-dismissible.fade.show
                  a.close(href='#top' data-dismiss='alert' aria-label='Close') &times;
                  strong Warning!
                  p There were errors in the Saving Operation.
                  p Please, click 
                    a.btn.btn-danger(href='#top' data-toggle='modal' data-target='#add') HERE
                    |  to see them.
              else if error
                .alert.alert-danger.alert-dismissible.fade.show
                  a.close(href='#top' data-dismiss='alert' aria-label='Close') &times;
                  strong Error!
                  p An Error has occured in the Previous Operation.
                  p Please, try again.
              else if success
                .alert.alert-success.alert-dismissible.fade.show
                  a.close(href='#top' data-dismiss='alert' aria-label='Close') &times;
                  strong Success
                  p The previous operation Complete Successfully
                
          .col-sm-2

        block content
    
  block footer
    footer.footer
      .container
        .row.text-white
          .col-sm-8
            h4.text-center Useful Internal Links
            hr
            .row
              .col-sm-3
                ul.nav.nav-pills.flex-column
                  li.nav-item(class=(nav===1?'active':''))
                    a.nav-link(href='/')
                      i.fas.fa-home
                      i  Home
                  li.nav-item(class=(nav===2?'active':''))
                    a.nav-link(href='/flows')
                      i.fas.fa-tasks
                      i  Stock Flow
              
              .col-sm-3
                ul.nav.nav-pills.flex-column
                  li.nav-item(class=(nav===3?'active':''))
                    a.nav-link(href='/stock')
                      i.fas.fa-list
                      i  Stock Items
                  if user.admin
                    li.nav-item(class=(nav===5?'active':''))
                      a.nav-link(href='/operations')
                        i.fas.fa-cog
                        i  Operations
              .col-sm-3
                ul.nav.nav-pills.flex-column
                  if user.admin
                    li.nav-item(class=(nav===6?'active':''))
                      a.nav-link(href='/settings')
                        i.fas.fa-wrench
                        i  Settings
                  li.nav-item(class=(nav===4?'active':''))
                    a.nav-link(href='/help')
                      i.fas.fa-question 
                      i  Help
              .col-sm-3
                ul.nav.nav-pills.flex-column
                  li.nav-item
                    a.nav-link(href='/logout')
                      i.fas.fa-sign-out-alt
                      i  Logout
        
          .col-sm-4.text-right
            a.btn.btn-primary(href='#top')
              i.fas.fa-chevron-up
            hr
            p &copy; Copyright #{(new Date()).getFullYear()}
            p Inventory App 1.0

    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")

    script(src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js")
    script(src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/export/bootstrap-table-export.min.js")
    script(src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js")
    script(src="https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF/jspdf.min.js")
    script(src="https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js")
    script(src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/print/bootstrap-table-print.min.js")

    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.15.0/js/mdb.min.js")
    script(src='/js/custom.js')
  
    block scripts