extends ../layout

block content

  h1 #{title}
  
  .container
    .row
      .col-sm-8
        blockquote
          p This shows the list of all the Workers of the System
      
      .col-sm-4
        button.btn.btn-success.btn-block(
          data-toggle='modal' data-target='#add') New Worker

      .col-sm-12
        #add.modal.fade(
          tab-index='-1' role='dialog' aria-labelby='AddNewWorker' 
          aria-hidden='true')
          
          .modal-dialog(role='document')
            .modal-content
              - let url = (return_item?return_item.url:'')
              form(action=(url?url:"/workers"), method="post")
                .modal-header
                  h4.modal-title #{return_item?'Update':'Add New'} Worker
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                  .errors
                    if return_item
                      if return_item.errors
                        ul
                          each err in return_item.errors
                            li= err.msg

                  .row
                    .col-sm-6
                      .form-group
                        label(for="first_name") First Name: 
                        input#first_name.form-control(
                          type="text" placeholder='Worker\'s First Name' 
                          name='first_name' required='true' min=3
                          value=(return_item?return_item.first_name:''))
                    .col-sm-6
                      .form-group
                        label(for="last_name") Last Name: 
                        input#last_name.form-control( min=3
                          type="text" placeholder='Worker\'s Last Name'
                          name='last_name' required='true'
                          value=(return_item?return_item.last_name:''))
                  .row
                    .col-md-6
                      .form-group
                        label(for="email") Email Address: 
                        input#email.form-control(
                          type="email" placeholder='Worker\'s Email' name='email' 
                          required='true' value=(return_item?return_item.email:''))
                    .col-md-6
                      .form-group
                        label(for="phone") Phone Number: 
                        input#phon.form-control(
                          type="tel" placeholder='Worker\'s Phone' name='phone' 
                          required='true' value=(return_item?return_item.phone:''))
                  .row
                    .col-md-6
                      .form-group
                        label(for="branch") Branch: 
                        select#branch.form-control(
                          type="select" placeholder='Worker\'s Branch'
                          name='branch' required='true')
                          each branch in branches
                            option(value=branch._id
                              selected=(return_item?return_item.branch===branch._id.toString():false)
                              ) #{branch.name}
                          else
                            option(value="") No Branches
                    .col-md-6
                      .form-group
                        label(for="position") Position at Work: 
                        select#position.form-control(
                          type="select" placeholder='Worker\'s Position At Work'
                          name='position' required='true')
                          each pos in positions
                            option(value=pos._id
                              selected=(return_item?return_item.position===pos._id.toString():false)
                              ) #{pos.name}
                          else
                            option(value="") No Positions
                  hr
                  label(for="user") Check if this Worker is a User
                  .form-group
                    input#user( onChange="userCheck()" style='margin-left:20px'
                      type="checkbox", name="user" checked=false)
                    label(style='padding-left:10px' for='user')  User ?
                    input#user_val(type='number' name='user_val' hidden='true'
                      value=(return_item?return_item.user_val:0))

                  .row
                    .col-md-6
                      .form-group
                        label(for="username") Username: 
                        input#username.form-control(
                          type="text" placeholder='Enter Username' 
                          name='username' disabled=true min=5
                          value=(return_item?return_item.username:''))

                    .col-md-6
                      .form-group
                        label(for="role") Role: 
                        select#role.form-control(
                          type="select" placeholder='Worker\'s Role'
                          name='role' disabled=true)
                          option(value="") Select a Role
                          each role in roles
                            option(value=role._id
                              selected=(return_item?return_item.role=== role._id.toString():false)
                              ) #{role.name}
                          else
                            option(value="") No Roles
                      
                  .row
                    .col-md-6
                      .form-group
                        label(for="password") Password: 
                        input#password.form-control(
                          type="password" placeholder='Worker\'s Password'
                          name='password' disabled=true min=5
                          value=(return_item?return_item.password:''))

                    .col-md-6
                      .form-group
                        label(for="confirm_password") Confirm Password: 
                        input#confirm_password.form-control( onKeyUp="passwordCheck(this.value)"
                          type="password" placeholder='Confirm Password'
                          name='confirm_password' disabled=true min=5
                          value=(return_item?return_item.confirm_password:''))
                        label#password_confirm

                .modal-footer
                  button.btn.btn-success(type='submit') Save 
                  button.btn.btn-danger(type='button' data-dismiss='modal') Close
  
  table#table.table.table-compressed.table-bordered(
    data-toggle="table"
    data-search="true"
    data-trim-on-search='false'
    data-show-columns="true"
    data-show-columns-search='true'
    data-show-columns-toggle-all='true'
    data-show-print='true'
    data-show-export='true'
    data-sort-class="table-active"
    data-sortable="true"
    data-pagination="true"
    data-show-pagination-switch='true'
    data-page-number="1"
    data-show-toggle='true'
    data-show-fullscreen='true'
    data-page-list="[10, 25, 50, 100, 200, All]"
    data-width='100%')

    thead
      tr
        th(data-field='date' data-sortable='true') Date
        th(data-field='name' data-sortable='true') Name
        th(data-field='email' data-sortable='true') Email
        th(data-field='phone' data-sortable='true') Phone
        th(data-field='position' data-sortable='true') Position
        th(data-field='branch' data-sortable='true') Branch
        th(data-field='worker' data-sortable='true') User
        th Actions
    tbody
      if workers.length
        each worker in workers
          tr
            td #{worker.entry_date_formated}
            td #{worker.name}
            td #{worker.email}
            td #{worker.phone}
            td #{worker.position.name}
            td #{worker.branch.name}
            td
              input(type="checkbox" checked=worker.user disabled='true')
            td
              span.btn.btn-primary.glyphicon.glyphicon-pencil(
                data-toggle='modal' data-target='#edit_' + worker._id)
              span.btn.btn-success.glyphicon.glyphicon-eye-open(
                data-toggle='modal' data-target='#view_' + worker._id)
              - let ha = false
              - let id = worker._id.toString()
              each flow in flows
                if flow.handled_by.toString() === id
                  - ha = true
              if worker._id.toString() === user._id.toString()
                - ha = true
              if !ha
                span.btn.btn-danger.glyphicon.glyphicon-remove(
                  data-toggle='modal' data-target='#delete_' + worker._id)
                
            // editing
            .modal.fade( id='edit_' + worker._id
              tab-index='-1' role='dialog' aria-labelby='EditWorker' 
              aria-hidden='true')
              
              .modal-dialog(role='document')
                .modal-content
                  form(action=worker.url, method="post")
                    .modal-header
                      h4.modal-title Edit Worker
                      button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                    .modal-body
                      .row
                        .col-sm-6
                          .form-group
                            label(for="first_name") First Name: 
                            input#first_name.form-control( min=3
                              type="text" placeholder='Worker\'s First Name' 
                              name='first_name' required='true'
                              value=worker.first_name)
                        .col-sm-6
                          .form-group
                            label(for="last_name") Last Name: 
                            input#last_name.form-control(
                              type="text" placeholder='Worker\'s Last Name'
                              name='last_name' required='true' min=3
                              value=worker.last_name)
                      .row
                        .col-md-6
                          .form-group
                            label(for="email") Email Address: 
                            input#email.form-control(
                              type="email" placeholder='Worker\'s Email' name='email' 
                              required='true' value=worker.email)
                        .col-md-6
                          .form-group
                            label(for="phone") Phone Number: 
                            input#phon.form-control(
                              type="tel" placeholder='Worker\'s Phone' name='phone' 
                              required='true' value=worker.phone)
                      .row
                        .col-md-6
                          .form-group
                            label(for="branch") Branch: 
                            select#branch.form-control(
                              type="select" placeholder='Worker\'s Branch'
                              name='branch' required='true')
                              each branch in branches
                                option(value=branch._id 
                                  selected=(worker.branch._id.toString()===branch._id.toString())
                                  ) #{branch.name}
                              else
                                option(value="") No Branches
                        .col-md-6
                          .form-group
                            label(for="position") Position at Work: 
                            select#position.form-control(
                              type="select" placeholder='Worker\'s Position At Work'
                              name='position' required='true')
                              each pos in positions
                                option(value=pos._id
                                  selected=(worker.position._id.toString()===pos._id.toString())
                                  ) #{pos.name}
                              else
                                option(value="") No Positions
                      hr
                      label Check if this Worker is a User
                      .form-group
                        input#user_u( onChange="userCheckU(this.value)" style='margin-left:20px'
                          type="checkbox", name="user" checked=worker.user)
                        label(for='user_u' style='padding-left:10px')  User ?
                        input#user_val_u(type='number' name='user_val' value=0 hidden='true')

                      .row
                        .col-md-6
                          .form-group
                            label(for="username_u") Username: 
                            input#username_u.form-control(min=5
                              type="text" placeholder='Enter Username' 
                              name='username' disabled=(!worker.user)
                              value=worker.username)
                        .col-md-6
                          .form-group
                            label(for="role_u") Role: 
                            select#role_u.form-control(
                              type="select" placeholder='Worker\'s Role'
                              name='role' disabled=(!worker.user))
                              option(value="") Select a Role
                              each role in roles
                                option(value=role._id
                                  selected=(
                                    worker.role?worker.role._id.toString()===role._id.toString():false)
                                  ) #{role.name}
                              else
                                option(value="") No Roles
                          
                      .row
                        .col-md-6
                          .form-group
                            label(for="password_u") Password: 
                            input#password_u.form-control( min=5
                              type="password" placeholder='Worker\'s Password'
                              name='password' disabled=(!worker.user)
                              value=worker.password)
                        .col-md-6
                          .form-group
                            label(for="confirm_password") Confirm Password: 
                            input#confirm_password_u.form-control( onKeyUp="passwordCheckU(this.value)"
                              type="password" placeholder='Confirm Password' min=5
                              name='confirm_password' disabled=(!worker.user)
                              value=worker.password)
                            label#password_confirm_u

                    .modal-footer
                      button.btn.btn-success(type='submit') Save 
                      button.btn.btn-danger(type='button' data-dismiss='modal') Close
                  
            // viewing
            .modal.fade(id='view_' + worker._id
              tab-index='-1' role='dialog' aria-labelby='ViewUserDetails' 
              aria-hidden='true')
              .modal-dialog(role='document')
                .modal-content
                  .modal-header
                    h4.modal-title Worker Details
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                      span(aria-hidden='true') &times;
                  .modal-body
                    .row
                      .col-sm-3.text-right
                        p #[strong Name: ]
                      .col-sm-9
                        p #{worker.name}
                    .row
                      .col-sm-3.text-right
                        p #[strong Email: ]
                      .col-sm-9
                        p #{worker.email}
                    .row
                      .col-sm-3.text-right
                        p #[strong Phone: ]
                      .col-sm-9
                        p #{worker.phone}
                    .row
                      .col-sm-3.text-right
                        p #[strong Position: ]
                      .col-sm-9
                        p #{worker.position.name}
                    .row
                      .col-sm-3.text-right
                        p #[strong Branch: ]
                      .col-sm-9
                        p #{worker.branch.name}
                    
                    if worker.user
                      .row
                        .col-sm-3.text-right
                          p #[strong Username: ]
                        .col-sm-9
                          p #{worker.username}
                      .row
                        .col-sm-3.text-right
                          p #[strong Role: ]
                        .col-sm-9
                          p #{worker.role.name}
  
                    .row
                      .col-sm-3.text-right
                        p #[strong Entered On: ]
                      .col-sm-9
                        p #{worker.entry_date_formated}
                        
                  .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                
            // deleting
              a specific worker from the system
              This is not allow if the worker is attached to other items.
            .modal.fade(id='delete_' + worker._id
              tab-index='-1' role='dialog' aria-labelby='AddNewUser' 
              aria-hidden='true')
              
              .modal-dialog(role='document')
                .modal-content
                  form(action=worker.url+'/delete', method="post")
                    .modal-header
                      h4.modal-title Delete Worker: #{worker.name}
                      button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                    .modal-body
                      .form-group
                        p #[strong Position: ] #{worker.position.name} 
                        p #{worker.position.description}
                        p #[strong Are you sure you wnt to delete this Worker?] 
                        input#userid.form-control(
                          type='hidden' name='workerid' required='true'
                          value=worker._id)
                    .modal-footer
                      button.btn.btn-danger(type='submit') Delete 
                      button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
              